img {
    height: 40px;
}

.type{
    color: mediumseagreen;
}
.inicio{
    background-color: black;
    color: aliceblue;
}
#titulo{
    color: white;
    display: table;
    padding-top: 300px;
}

.nav-link:focus, .nav-link:hover {
    color: rgb(255 255 255) !important;
}

.nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: rgb(0 0 0 / 55%) !important;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}



.fotoCard{
    width: 564px;
    height: 791px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.centrado {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 5%;
}

.cards {
    margin-top: 10%;
}

.row {
    padding: 5%;
    margin-right: 0%!important;
}

.btn-primary {
    background-color: mediumseagreen !important;
    border-color: mediumseagreen !important;
}

.navbar-dark {
    background-color: mediumseagreen !important;
}

.card-group{
    justify-content: center;
}

.marginForm {
    margin-top: 5%;
}

.tituloCard{
    font-size: 30px !important;
}

.card-text{
    font-size: 20px;
}

.card-title{
    font-size: 55px !important;
}

.card-img-top {
    width: 270px !important;
    height: 200px;

}

.card{
    height: 300px !important;
    width: 300px;
}

.card-body {
    text-align: center;
}

.col {
    margin-bottom: 10%;
}

.botones {
    margin-top: 5%;
}

.tituloLogo{
    font-size: 50px;

}

.imgLogo{
    width: 100px;
    height: 100px;
}

.textoLogo{
    font-size: 20px;
}